body{
    font-family: "Google Sans Code", monospace;
    
    
   
}

.qeustion{
    border-bottom: 5px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}


 
.firsthead {
    margin: 0;
    text-align: center; 
    font-weight: bold;
    font-size: 40px;
    /* background-color: rgb(12, 132, 132); */
    /* border: 5px solid black; */
    text-transform: uppercase;
    border-radius: 10px;
}

.section {
    text-align: center;
}

.allform {

    margin: 0px 30px 30px 30px;
    background: rgb(216, 216, 215);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.second-mid {
    display: none;
}
.third-mid {
    display: none;
}
.fourth-mid {
    display: none;
}
.fifth-mid {
    display: none;
}
.sixth-mid {
    display: none;
} 


.diagnosis {
    margin: 10px;
}


/* first med */


.firstmedcont {
    display: flex;
    justify-content: center;  
    gap: 20px;                 
    margin-top: 10px;
}


.med1 {
    width: 150px;            
    background: rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(33, 29, 29, 0.3);
}

.reg1 {
    width: 150px;              /* عرض كل واحدة */
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(33, 29, 29, 0.3);
}


.dura1 {
    width: 150px;              /* عرض كل واحدة */
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(33, 29, 29, 0.3);
}


/* second med */
.secmedcont {
    display: flex;
    justify-content: center;  
    gap: 20px;                 
    margin-top: 20px ;
}

.med2 {
    width: 150px;              /* عرض كل واحدة */
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.reg2 {
    width: 150px;              /* عرض كل واحدة */
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
    



.dur2 {
    width: 150px;              
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* third med */ 

.thirdmedcont {
    display: flex;
    justify-content: center;  
    gap: 20px;                 
    margin-top: 10px;
}


.med3 {
    width: 150px; 
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.reg3 {
    width: 150px; 
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}



.dur3 {
    width: 150px; 
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* fourth med */

.fourthmedcont {
    display: flex;
    justify-content: center;  
    gap: 20px;                 
    margin-top: 10px;
}


.med4 {
    width: 150px; 
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.reg4 {
    width: 150px; 
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.dur4 {
    width: 150px; 
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
/* fifth med */

.fifthmedcont {
    display: flex;
    justify-content: center;  
    gap: 20px;                 
    margin-top: 10px;
}


.med5 {
    width: 150px; 
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.reg5 {
    width: 150px; 
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}



.dur5 {
    width: 150px; 
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
/* sixth med */

.sixthmedcont {
    display: flex;
    justify-content: center;  
    gap: 20px;                 
    margin-top: 10px;
}

.med6 {
    width: 150px; 
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.reg6 {
    width: 150px; 
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}



.dur6 {
    width: 150px; 
    background: rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.custom-file-upload {
    margin: 15px;
    position: relative;
    top: 5px;  
    
}


.title{
    margin: 15px;
}

button {
    font-family: "Google Sans Code", monospace;
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #939496;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow:
    0 4px 6px -1px #488aec31,
    0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;

}

.submit {
  display: block;
  margin: 20px auto; /* يخلي الزرار في النص */
  padding: 12px 24px;
  background: #939496;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}


.submit:hover {
    background: #4338ca;
  }



.name {
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}

.name:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }


.idnumber {
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}
  
.idnumber:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
}

.mednumber {
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}

.mednumber:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
}

.age {
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}
  
.age:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
}

/* From https://css.glass */
.clinic {
    width: 180px;
    margin: 10px;
    background: rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(33, 29, 29, 0.3);
}

.diagnosis {
    width: 180px;
    margin: 10px;
    background:  rgb(159, 159, 159);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(33, 29, 29, 0.3);
}

/* From Uiverse.io by Creatlydev */ 
.uploadbutton {
    margin: 20px auto;
    width: 220px;
    --bg: linear-gradient(180deg,hsla(0, 0%, 100%, .1),
              hsla(0, 0%, 100%, 0)),
              rgb(159, 159, 159);
    box-shadow: 0 1px 2px #25114f66, 0 0 0 1px rgb(159, 159, 159);
    background-color: transparent;
    border: none;
    line-height: 1;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .25rem .5rem;
    cursor: pointer;
    padding-right: 1rem;
    font-weight: 600;
    color: #fff;
    background: var(--bg);
    white-space: nowrap;
    border-radius: 6px;
    border: 1px solid #fff3;
  }


