* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #0f4c81, #2da9e9);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #1565c0;
    color: white;
    position: relative;
}
.nav-links {
    list-style: none;
    position: absolute;
    top: 70px;
    right: 40px;
    background: #1e88e5;
    width: 200px;
    display: none;
    flex-direction: column;
    padding: 15px 0;
    border-radius: 10px;
}

.nav-links li {
    padding: 10px 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
}


.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;

}



/* Hero Section */
.hero {
    height: 100vh;
    background: url('background.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    padding-top: 150px;
}

.overlay h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 18px;
    margin-bottom: 40px;
        color: white;    
}

/* Buttons */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 14px 30px;
    background: #00c6ff;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
    font-weight: bold;
}

.btn:hover {
    background: #009edb;
    transform: scale(1.05);
}

