
body {
    font-family: 'Cairo', sans-serif;
    background: linear-gradient(135deg, #e3f2fd, #f1f8e9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


h1 {
    font-size: 48px;
    font-weight: 900;
    color: #2c3e50;
    margin-bottom: 20px; /* مسافة بين العنوان والصندوق */
    text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.allbuttons {
    background: #f9fbfd;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    text-align: center;
    width: 320px;
    border: 2px solid #e0e0e0;
}



button {
    display: block;
    width: 100%;
    padding: 12px 0;
    margin: 12px 0;
    border: none;
    border-radius: 10px;
    background: #aaa6ac;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: #0234ff;
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0,0,0,0.15);
}


button a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}